.sidebarSectionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
}

.rowFlex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.textReset {
    padding: 0px;
    margin: 0px;
}

.divider {
    font-size: 0.8125em;
}

.clubNationContainer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 10;
}

.boxWithShadow {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 180px;
    height: 50px;
    box-shadow: 0px 0px 8px rgb(152, 162, 173);
    border-radius: 5%;
    margin-right: 10px;
}

.boxText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statsGroup {
    margin-top: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 150px;
    height: 30px;
    box-shadow: 0px 0px 8px rgb(152, 162, 173);
    border-radius: 5%;
    margin-right: 10px;
}

.filter {
    margin-right: 10px;
}

.playerListContainer {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    flex: 1;
    border: 2px solid rgba(87, 86, 86, 0.692);
    margin: 5px 5px 2px;
}

.playerInListItemContainer {
    display: flex;
    max-height: 60px;
    flex: 1;
    margin: 2px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(218, 218, 218, 0.842);
}

.playerInListItemName {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    flex:1 1;
    max-width: 200px;
}
